<ion-modal-view>
        
    <ion-content class="padding" style="background-color:#555;">
       <button class="button button-clear button-primary" ng-click="helpmodal.hide()" style="position:absolute;right:0;top:-10px;">
        <i class="icon ion-close" style="color:#fff;"></i>
    </button>
    <br /><br />
        <div class="text-center">
            <h3 class="title" style="color:#fff!important;font-size:2em;margin-top:20px;">Vragen / Opmerkingen</h3>
        </div>
        
        <style>
            .infoLijst {
                width: 84%;
                margin: 20px auto 0;
            }
            .infoLijst > label {
                border-color: #EEE;
                border-right: none;
                border-bottom: none;
                border-left: none;
            }
            .infoLijst > label:first-of-type {
                border-top: none;
            }
        </style>
        
        <div class="list infoLijst">
          
            <label class="item item-input">
                <textarea  ng-model="helpinfo.remarks" name="remarks" cols="40" rows="5" placeholder="Opmerkingen"></textarea>
            </label>   
        </div>   
              
        <button class="button button-full button-dark" ng-click="sendHelp(helpinfo)" style="background-color:#97C226 !important;width:85%;margin:10px auto 0;margin-bottom:45px;"><b>Versturen</b></button>

    </ion-content>
</ion-modal-view>