<ion-modal-view>
        
    <ion-content class="padding" style="background-color:#555;">
       <button class="button button-clear button-primary" ng-click="modal.hide()" style="position:absolute;right:0;top:-10px;">
        <i class="icon ion-close" style="color:#fff;"></i>
    </button>
        <div class="text-center">
            <h3 class="title" style="color:#fff!important;font-size:2em;margin-top:20px;">Ik wil informatie<br /> over LogiCAB</h3>
        </div>
        
        <style>
            .infoLijst {
                width: 84%;
                margin: 20px auto 0;
            }
            .infoLijst > label {
                border-color: #EEE;
                border-right: none;
                border-bottom: none;
                border-left: none;
            }
            .infoLijst > label:first-of-type {
                border-top: none;
            }
        </style>
        
        <div class="list infoLijst">
            <label class="item item-input">
                <input ng-model="newUser.name" type="text" placeholder="Uw naam">
            </label>
            <label class="item item-input">
                <input ng-model="newUser.reference" type="text" placeholder="Gehoord van LogiCAB via">
            </label>
            <label class="item item-input">
                <input ng-model="newUser.companyname" type="text" placeholder="Bedrijfsnaam">
            </label>
            <label class="item item-input">
                <input ng-model="newUser.address" type="text" placeholder="Adres">
            </label>            
            <label class="item item-input">
                <input ng-model="newUser.zipcode" type="text" placeholder="Postcode">
            </label>
            <label class="item item-input">
                <input ng-model="newUser.city" type="text" placeholder="Plaats">
            </label>
            <label class="item item-input">
                <input ng-model="newUser.email" type="text" placeholder="E-mailadres">
            </label>                        
            <label class="item item-input">
                <input ng-model="newUser.phone" type="text" placeholder="Telefoonnummer">
            </label>            
            <label class="item item-input">
                <input ng-model="newUser.remarks" type="text" placeholder="Opmerkingen">
            </label>   
        </div>   
              
        <button class="button button-full button-dark" ng-click="saveInformation(newUser)" style="background-color:#97C226 !important;width:85%;margin:10px auto 0;margin-bottom:45px;"><b>Versturen</b></button>

    </ion-content>
</ion-modal-view>