<ion-view view-title="LogiOffer" view-title-position="center" hide-nav-bar="true" style="padding:0;">

    <ion-content class="loginBackground">
        <div class="text-center" id="logoContainer">
            <img id="logoImg" src="img/Loginlogo.png"/>
        </div>

        <p class="text-center" style="color:red; margin-bottom:0;">{{model.errormsg}}</p>
        <div style="width:100%; height:50%; display:table;">
            <form ng-submit="doLogin()" style="display:table-cell; vertical-align:middle;">
           
                <div class="row" id="loginRow">

                    <div class="col"></div>

                    <div class="col col-75 text-center">
                        <div class="list">
                            <label class="item item-input" style="border-color:#fff;">
                                <input type="text" placeholder="Gebruikersnaam" ng-model="user.username" style="font-size:1em;" onfocus="hideLogo();" onblur="showLogo();">
                            </label>
                            <label class="item item-input" style="border-color:#fff;">
                                <input type="password" placeholder="Wachtwoord" ng-model="user.password" style="font-size:1em;"  onfocus="hideLogo();" onblur="showLogo();">
                            </label>
                            <!--
                    <ion-checkbox ng-model="user.rememberme" class="checkbox-dark" ng-class="checkbox" style="overflow:visible !important;">
                        <span style="font-size:1em;">Onthoud mij</span>
                    </ion-checkbox>
-->

                            <li class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="user.rememberme" class="checkboxStyle">
                                </label>
                                Onthoud mij
                            </li>

                            <button class="button button-block button-dark" ng-click="doLogin()" style="margin-top:0;" onfocus="showLogo();"><b>Login</b>
                            </button>
                        </div>
                    </div>

                    <div class="col"></div>

                </div>
            </form>
        </div>
        <a id="infoMessage" style="color:white; text-align:center; position:absolute; width:100%; bottom:10px;" ng-click="modal.show()">{{infoMessage}}</a>
    </ion-content>

    <span class="text-center"></span>
</ion-view>


<style>
    .content.overflow-scroll {
        bottom: 0px !important;
    }
    .loginBackground {
        margin-top:0;
        background: #cbf562; /* Old browsers */
        background: -moz-linear-gradient(top,  #cbf562 0%, #76991f 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbf562), color-stop(100%,#76991f)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #cbf562 0%,#76991f 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #cbf562 0%,#76991f 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #cbf562 0%,#76991f 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #cbf562 0%,#76991f 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbf562', endColorstr='#76991f',GradientType=0 ); /* IE6-9 */

    }

</style>
76991f
cbf562