    <ion-view view-title="Charts">
      <ion-tabs class="tabs-striped tabs-dark tabs-top tabs-icon-top has-tabs-top">

        <ion-tab title="Chart 1" icon="ion-arrow-graph-up-left">
          <ion-header-bar></ion-header-bar>
          <!-- Tab 1 content -->
          <ion-content class="padding">

            <div class="card">
              <div class="item item-divider item-dark">
                Tab 1
              </div>
              <div class="item item-text-wrap">
                This is a basic Card1 which contains an item that has wrapping text.
              </div>
            </div>
          </ion-content>
        </ion-tab>

        <ion-tab title="Chart 2" icon-on="ion-ios-pie" icon-off="ion-ios-pie-outline">
          <ion-header-bar></ion-header-bar>
          <!-- Tab 2 content -->
          <ion-content class="padding">
            <div class="card">
              <div class="item item-divider item-assertive">
                Tab 2
              </div>
              <div class="item item-text-wrap">
                This is a basic Card2 which contains an item that has wrapping text.
              </div>
            </div>
          </ion-content>
        </ion-tab>

        <ion-tab title="Chart 3" icon="ion-arrow-graph-up-right">
          <ion-header-bar></ion-header-bar>
          <!-- Tab 3 content -->
          <ion-content class="padding">
            <div class="card">
              <div class="item item-divider item-energized">
                Tab 3
              </div>
              <div class="item item-text-wrap">
                This is a basic Card3 which contains an item that has wrapping text.
              </div>
            </div>
          </ion-content>
        </ion-tab>

      </ion-tabs>
    </ion-view>