<ion-view view-title="Orders"  cache-view="false">
    <ion-content>
        <ion-list>
                <ion-item ng-repeat="o in model.orders" class="item-avatar item-icon-right" href="#/tab/order/{{o.OrgaSeq}}">                    
                    <img ng-src="http://www.logioffer.nl//Specials/ShowImageMedium/{{o.Logo}}" />                    
                    <div>{{o.Orga}}</div>
                    <div id="statusBadges">
                        <span ng-if="o.NumChanged > 0" class="badge badge-positive">{{o.NumChanged}}</span>
                        <span ng-if="o.NumKWBSend > 0" class="badge badge-positive">{{o.NumKWBSend}}</span>
                        <span ng-if="o.NumEKTSend > 0" class="badge badge-positive">{{o.NumEKTSend}}</span>
                        <span ng-if="o.NumOrdered > 0" class="badge badge-positive">{{o.NumOrdered}}</span>
                    </div>
                </ion-item>
        </ion-list>
    </ion-content>
</ion-view>