<ion-view view-title="Aanbod">
  <ion-content>

<!--   <div class="row no-padding" style="text-align: center;">
    <div class="col-50" style="border: 1px solid rgb(223, 223, 223); border-right: none;" href="#/tab/offers/1">
      <img ng-src="img/plant.png" style="max-width:75%; "  />
      <h3>Planten</h3>
      <p>({{offers[0].Num}} artikelen)</p>
    </div>
    <div class="col-50" style="border: 1px solid rgb(223, 223, 223);" href="#/tab/offers/2">
      <img ng-src="img/flower.png" style="max-width:75%; " />
      <h3>Bloemen</h3>
      <p>({{offers[1].Num}} artikelen)</p>
    </div>
  </div> -->

    <ion-list>
      <ion-item class="offerlist" ng-repeat="offer in offers" type="item-text-wrap" href="#/tab/offer/{{offer.Maingroup}}">
        <img ng-src="{{deliveryDateImage(offer)}}" style="max-width:25%;" style="max-height:25%;"  />
        <h3>{{maingroupText(offer.Maingroup)}}</h3>
        <p>({{offer.Num}} artikelen)</p>
      </ion-item>
    </ion-list>
 
  </ion-content>
</ion-view>