<ion-view title="Winkelwagen" cache-view="false">
    <ion-content class="no-padding winkelwagenContent">
        <div ng-show="showCart">
            <ion-list>
                <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="detail in cart" type="item-text-wrap" href="#">
                <!-- <img ng-src="{{offer.face}}"> -->
                <!-- <img src="img/flower.png" /> -->
                    <img ng-src="http://www.logioffer.nl//Specials/ShowImage/{{detail.offer.P}}" />

                    <h2>{{detail.offer.PCD}}</h2>
                    <p>{{detail.num | number: 0}} x {{detail.offer.NOU | number: 0}} ({{detail.offer.Cask}})</p>
                    <p>{{detail.offer.Price | number:2}} €</p>
                    <!-- <p>Order: {{formatDate(offer.Orderdate)}}</p>
                    <p>Delivery: {{formatDate(offer.Deliverydate)}}</p>-->

                    <i class="icon ion-chevron-right icon-accessory"></i>
                    <ion-option-button class="button-positive" ng-click="">
                        Add code 
                    </ion-option-button>                
                    <ion-option-button class="button-balanced" ng-click="addOneUnit(detail)">
                        Add one
                    </ion-option-button>        
                    <ion-option-button class="button-assertive" ng-click="removeFromCart(detail)">
<!--                        Remove-->
                        <i class="icon ion-ios-trash-outline" style="font-size:1.5em;"></i>
                    </ion-option-button>        
                </ion-item>
            </ion-list>
            
            <div class="card">
                <div class="item item-divider">
                    {{cart.length}} artikel(en)
                </div>
                <div class="item item-text-wrap">
                    <p>Besteldatum: {{selectedDate}}</p>
                    <p>Leverdatum: {{selectedDate}}</p>
                    <!-- <ion-toggle ng-model="settings.enableEKT">Verstuur EKT</ion-toggle> -->
                    <ion-toggle ng-model="settings.enableSMS">Verstuur SMS</ion-toggle>  
                </div>
                <div class="item item-divider">
                Totaal: {{cartValue | number:2}} €

                    <button class="button button-block icon-right ion-log-in"  ng-click="confirmOrder()" ng-show="!confirmed"> Confirm</button>   

                </div>
                <div ng-show="confirmed">
                    <h4 class="text-center">Bestelling Bevestigd</h4>
                    <button class="button button-block button-assertive icon-right ion-log-in"  ng-click="backToOffer()" ng-show="confirmed">Terug naar Aanbod</button>            
                </div>                
            </div>
        </div>

        <div ng-show="emptyCart">
            <h5 style="text-align:center;color:#ccc;font-size:1.18em;font-style:italic;">U heeft geen artikelen in uw winkelwagen, <br /> vanuit 'Aanbod' kunt u deze toevoegen...</h3>
            <a class="button button-block button-positive gaTerug" href="#/tab/offer">Naar Aanbod</a>
        </div>
<div style="min-height:150px;"></div>
    </ion-content>
</ion-view>

