<ion-view view-title="<img src='img/logicab.png' style='height:100%;' />">
  <ion-content style="padding-top:10px;">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
     
    <ion-slide-box show-pager="false" does-continue="true" auto-play="true">
        <ion-slide   ng-repeat="cab in newcabcodes">
          <div class="box blue" style="text-align:center;">
            <p style="font-style:italic; color:#CCC;">{{cab.Grower}}<br /> {{cab.Desc}}</p>
            <img ng-src="{{imgUrl(cab.Picture)}}" class="item-thumbnail" style="max-height:150px; max-width: 200px;" />
          </div>
        </ion-slide>
    </ion-slide-box>
    
    <h4 class="text-center" style="color:#555; font-size:1em;">Nieuws</h4>
    
    <div class="list">
      <a ng-repeat="n in news | orderBy:'-Order'" class="item item-thumbnail-right item-text-wrap" href="#/tab/dash/news/{{n.Sequence}}">
        <img ng-src="{{n.Picture}}" style="width: auto; height: auto; overflow:hidden;">
        <h2>{{n.Title}}</h2>
        <p>{{n.TickerContent}}</p>      
      </a>
    </div>
    <div style="min-height:150px;"></div>
  </ion-content>
</ion-view>