<ion-view view-title="Orders" cache-view="false">
<style>
.list .item.item-accordion {
  /*line-height: 45px;
  padding-top: 5px;
  padding-bottom: 5px;*/
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}  
</style>
  <ion-content>
<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>  
      <ion-list>
        <div ng-repeat="o in model.orders | orderBy: 'Orga'">
          <ion-item class="item-remove-animate item-avatar item-icon-right orderKopers" ng-click="toggleGroup(o)" ng-class="{active: isGroupShown(o)}">
            <div class="ordersAvatar" style="background-image: url(http://www.logioffer.nl//Specials/ShowImageMedium/{{o.Logo}});">
<!--                <img ng-src="http://www.logioffer.nl//Specials/ShowImageMedium/{{o.Logo}}" />-->
            </div>
            <i class="icon icon-accessory" ng-class="isGroupShown(o) ? 'ion-chevron-down' : 'ion-chevron-left'"></i>
            <div>{{o.Orga}}</div>
          </ion-item>
          <ion-item class="item-accordion item-remove-animate item-icon-right" ng-repeat="d in o.Orders" ng-show="isGroupShown(o)"   href="#/tab/buyerorder/detail/{{d.Seq}}">
            <h2 style="color:#2f3e45;"><b>{{d.Name}}</b></h2>
            <p>{{d.DeliveryDate | date: 'MMM d, y'}} - € <i>{{d.Value | number: 2}}</i></p>
            <p></p>
            <span class="badge badgeStatus {{getStatusTextColor(d.Status, 1)}}">{{getStatusTextColor(d.Status, 0)}}</span>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </div>
      </ion-list>
      <div style="min-height:150px;"></div>
  </ion-content>
</ion-view>