<ion-view view-title="<img src='img/logicab.png' style='height:100%;' />">
    <ion-content padding="true" class="settingsContent">
        <style>
            .itemNoPadding {
                padding: 0;
                border-left: none;
                border-right: none;
            }
        </style>
        <h4 class="text-center">Instellingen</h4>

        <!-- <a class="button button-block button-positive" ng-click="toggleStatusbar()">Statusbar</a> -->

        <ul class="list">
            <li class="item itemNoPadding">
                <label class="item item-input" id="geschiedenisInput">
                    <span class="input-label">Geschiedenis</span>
                    <input type="tel" ng-model="model.settings.historyDays" ng-change="updateSettings()">
                </label>
            </li>
            <li class="item itemNoPadding">
                <ion-toggle ng-model="model.settings.tour" ng-change="updateSettings()">Toon uitleg</ion-toggle>
            </li>

            <li class="item item-toggle" ng-if="0">
                Notificaties
                <label class="toggle toggle-assertive">
                    <input type="checkbox" ng-model="model.settings.notifications" ng-change="updateSettings()">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
        <!-- 	<a class="button button-assertive" ng-click="clearEnv()">Clear Env</a>
 	<a class="button button-assertive" ng-click="getPhoto()">Get Photo</a>

	<hr />
	<div id="photoContainer" style="width:100%; border: 1px dashed gray;" class="text-center">
		<canvas></canvas>
	</div> -->

        <a class="button button-block button-positive gaTerug" ng-click="goHome()">Home</a>

    </ion-content>
</ion-view>