<ion-view view-title="Offertes" cache-view="false">
    <ion-content>
    <!--     <ion-list id="OfferteChoice">
    <ion-item class="item-remove-animate item-icon-right item-text-wrap"  href="#/tab/offerte/new">
    <h2 class="elementCenterAlign">Nieuwe offerte maken</h2>
    <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <ion-item class="item-remove-animate item-icon-right item-text-wrap" href="#/tab/offerte/list">
    <h2 class="elementCenterAlign">Bekijk alle offertes</h2>
    <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>      
    </ion-list> -->
        <div class="list offerteList">
            <a class="item offerteItem" href="#/tab/offerte/new">
                <img src="img/ios-paper-plus.png" alt="">
                <h2>Nieuw</h2>
            </a>
            <a class="item offerteItem"  href="#/tab/offerte/list">
                <img src="img/ios-paper-watch.png" alt="">
                <h2>Bekijk alle</h2>
            </a>    
        </div>
        <ul class="list padding" style="padding-left: 10%; padding-right: 10%;">
            <li class="item item-checkbox" ng-repeat="m in model.maingroups">
                <label class="checkbox checkbox-balanced">
                    <input type="checkbox" value="{{m.Sequence}}" ng-model="m.checked" ng-click="setSelectedMaingroup(m.Sequence)">
                </label>
                {{m.Description}}
            </li>            

        </ul>     
    </ion-content> 
</ion-view>