<ion-side-menus enable-menu-with-back-views="false" ng-controller="AppCtrl">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-tabs class="tabs-icon-top tabs-color-active footerTabs">
            <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
                <ion-nav-view name="tab-dash"></ion-nav-view>
            </ion-tab>

            <!-- Growers only -->
            <ion-tab ng-if="model.isGrower" title="Offertes" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/offerte">
                <!-- href todo -->
                <ion-nav-view name="tab-offerte"></ion-nav-view>
            </ion-tab>
            <ion-tab ng-if="model.isGrower" title="Orders" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/order">
                <ion-nav-view name="tab-order"></ion-nav-view>
            </ion-tab>
            <!-- Buyers only -->
            <ion-tab ng-if="model.isBuyer" title="Aanbod" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" href="#/tab/offer">
                <ion-nav-view name="tab-offer"></ion-nav-view>
            </ion-tab>
            <ion-tab ng-if="model.isBuyer" title="Orders" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline" href="#/tab/buyerorder">
                <ion-nav-view name="tab-buyerorder"></ion-nav-view>
            </ion-tab>
            <ion-tab ng-if="model.isBuyer" title="Winkelwagen" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" href="#/tab/cart" badge="cartCount()" badge-style="badge-assertive" ng-controller="CartCtrl">
                <ion-nav-view name="tab-cart"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-side-menu-content>

    <ion-side-menu side="right" style="background-color: #444444;">

        <ion-header-bar class="bar-dark">
            <!--         <h1 class="title">Right</h1> -->
        </ion-header-bar>

        <ion-content class="dark sideMenu">
            <div class="text-center">
                <img ng-src="{{imgUrl(model.user.orga_pic)}}" style="max-width:75%; max-height:75%;" class="center" />
                <h4 style="color:white;">{{model.user.personName}}</h4>
                <p>{{model.user.name}}</p>
            </div>

            <!--
            <div class="list">
                <a class="item item-icon-right" href="#">
                    0297 233326
                    <i class="icon ion-ios-telephone-outline"></i>
                    
                </a>
                <a class="item item-icon-right" href="#">
                    support@logiflora.nl
                    <i class="icon ion-email"></i>
                </a>
            </div>
-->

            <div class="menuOnderaan">
                <a class="item item-icon-right" ng-click="helpmodal.show()">
                    <i class="icon ion-ios-help-outline"></i> Vragen / Opmerkingen
                </a>
                <a class="item item-icon-right" nav-clear menu-close href="#/tab/dash/settings">
                    <i class="icon ion-ios-settings"></i> Instellingen
                </a>
                <a class="item item-icon-right" href="#" ng-click="doLogout()">
                Afmelden
                    <i class="icon ion-ios-upload-outline ion-rotate-90"></i>
                </a>
                
            </div>

        </ion-content>
    </ion-side-menu>
</ion-side-menus>