<ion-view view-title="{{model.header.Orga}}"  cache-view="false">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap text-center">
                <img ng-src="http://www.logioffer.nl//Specials/ShowImageMedium/{{model.header.Logo}}" />                    
            </div>
        </div>
            <ion-list>
                <ion-item class="item-icon-right" ng-repeat="d in model.header.Orders" href="#/tab/order/detail/{{d.Seq}}">
                    <h2><b>{{d.Name}}</b></h2>
                    <!-- <p>{{d.DeliveryDate | date: 'MMM d, y HH:mm:ss'}} - € <i>{{d.Value | number: 2}}</i></p> -->
                    <p>{{d.DeliveryDate | date: 'MMM d, y'}} - € <i>{{d.Value | number: 2}}</i></p>
                    <span style="font-weight: normal; font-size:10px; top: 5px; right:5px; border-radius:50px; padding-top:0; padding-bottom:0;" class="badge {{getStatusTextColor(d.Status, 1)}}">{{getStatusTextColor(d.Status, 0)}}</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
        </ion-list>                
    </ion-content>
</ion-view>