<ion-view title="Selecteer Kopers">
    <ion-content>
        <div class="bar bar-header item-input-inset" style="background-color:#eee;border-bottom:1px solid #ccc;">
            <label class="item-input-wrapper" style="background-color:#fff;border-radius:20px;">
                <input type="search" placeholder="Zoeken" ng-model="searchtext">
                <i class="icon ion-ios-search placeholder-icon" style="margin-right:5px;"></i>
            </label>
        </div>

        <ul class="list">
            <li class="item item-checkbox" style="background-color:#eee;">
                <label class="checkbox checkbox-balanced">
                    <input type="checkbox" ng-click="selectAllBuyers()">
                </label>
                Selecteer allemaal
            </li>
            <li class="item item-checkbox" ng-repeat="b in model.buyers | filter: searchtext | orderBy: '-checked'">
                <label class="checkbox checkbox-balanced">
                    <input type="checkbox" value="{{b.BuyerSequence}}" ng-model="b.checked">
                </label>
                {{b.Name}}
            </li>
        </ul>
        <div style="min-height:150px;"></div>
    </ion-content>

    <ion-footer-bar align-title="left" class="bewaarMailBar">
        <div class="buttons">
            <button class="button" ng-click="saveOffer(1)">Bewaar en mail</button>
        </div>
        <div class="buttons">
            <button class="button" ng-click="saveOffer(0)">Bewaar Offerte</button>
        </div>
    </ion-footer-bar>
</ion-view>