
<ion-view title="Offerte Kopiëren">
  <!-- <ion-content class="padding"> -->
  <ion-content>
<div class="row" style="background-color: #96C125;">
  <div class="col text-center">
    <h2 style="color: #FFF;"><b>{{model.offerte.OFHD_NO}} ({{model.offerte.OFHD_OFFER_TYPE}})</b></h2>
  </div>
</div>
<div class="row">
  <div class="col text-center">{{model.offerte.OFHD_VALID_FROM | date: 'd-MM-y HH:mm:ss'}}</div>
<div class="col text-center">{{model.offerte.OFHD_VALID_TO | date: 'd-MM-y HH:mm:ss'}}</div>  
</div>  

    <button ng-class="showArticles == true ? 'ion-arrow-up-a' : 'ion-arrow-down-a'" class="button button-block button-dark icon-right" ng-click="showArticles = !showArticles"><b>Articles</b></button>
    <ion-list ng-show="showArticles">
      <ion-item class="item-remove-animate item-avatar" ng-repeat="o in model.offerterows" type="item-text-wrap">
        <img ng-src="http://www.logioffer.nl//Specials/ShowImage/{{o.PIC_SEQ}}" />
        <h2>{{o.PROP_CAB_DESC}}</h2>
        <h4>{{o.Properties}}</h4>

        <p style="font-style:italic; font-weight:bold; color:green;">  {{o.OFDT_NUM_OF_ITEMS_ORG}} stk : € {{o.OFDT_ITEM_PRICE | number:2}}</p>
        <ion-option-button class="button-calm" ng-click="adjustPrice(o)">
          <a class="button button-icon icon ion-social-euro" style="color:white;"></a>
        </ion-option-button>                   
        <ion-option-button class="button-positive" ng-click="">
          <a class="button button-icon icon ion-edit" style="color:white;"></a>
        </ion-option-button>           
        <ion-option-button class="button-assertive" ng-click="">
          <a class="button button-icon icon ion-trash-b" style="color:white;"></a>
        </ion-option-button>                           
      </ion-item>
    </ion-list>    
    <button ng-class="showArticles2 == true ? 'ion-arrow-up-a' : 'ion-arrow-down-a'"  class="button button-block button-dark icon-right ion-arrow-down-a" ng-click="showArticles2 = !showArticles2"><b>Assortiment</b></button>
    <ion-list ng-show="showArticles2">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="a in model.assortiment" type="item-text-wrap" ng-click="addArticleToOffer(a)">
        <img ng-src="http://www.logioffer.nl//Specials/ShowImage/{{a.pictureseq}}" />
        <h4>{{a.prop}}</h4>
        <p style="font-style:italic; font-weight:bold; color:green;">  {{a.numitems}} Stelen </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>  
    <div style="min-height:150px;"></div>
  </ion-content>
<ion-footer-bar class="bar-dark">
  <div class="buttons">
    <a class="button button-balanced"  href="#/tab/offerte/buyers/{{model.offerte.OFHD_NO}}">Selecteer kopers</a>
  </div>
</ion-footer-bar>  
</ion-view>
