<ion-view title="Offerte Bekijken">
    <ion-content>
        <!--         <div id="buyerlist">

        <ul class="list">
            <li class="item item-checkbox">
                <label class="checkbox checkbox-balanced">
                    <input type="checkbox" value="buyer1" checked=checked>
                </label>
                koper1
            </li>
            <li class="item item-checkbox">
                <label class="checkbox checkbox-balanced">
                    <input type="checkbox" value="buyer1" checked=checked>
                </label>
                koper2
            </li>
            <li class="item item-checkbox">
                <label class="checkbox checkbox-balanced">
                    <input type="checkbox" value="buyer1" checked=checked>
                </label>
                koper3
            </li>                        
        </ul>            
        </div> -->
        <div class="kopieerKnop" style="padding:10px;">
            <a class="button button-block button-balanced" ng-click="copyOffer()"> Kopieer deze offerte</a>
            <!-- <a class="button button-block button-balanced" href="#/tab/offerte/copy/{{model.offerte.OFHD_NO}}"> Kopieer deze offerte</a>         -->
        </div>



        <div class="text-center" style="margin:13px;">
            <h2 style="color:#2f3e45;font-weight:bold;margin-bottom:2px;">{{model.offerte.OFHD_NO}} ({{model.offerte.OFHD_OFFER_TYPE}})</h2>
            <p style="margin:0;">{{model.offerte.OFHD_VALID_FROM | date: 'd-MM-y HH:mm:ss'}} - {{model.offerte.OFHD_VALID_TO | date: 'd-MM-y HH:mm:ss'}}</p>
        </div>

        <div class="toonKopersKnop" style="padding:10px;">
            <a class="button button-block" style="background-color: #eee;" ng-click="modal.show()">Toon kopers</a>
        </div>
       
        <ion-list>
            <ion-item class="item-remove-animate item-avatar paddingLeft80" collection-repeat="o in model.offerterows" type="item-text-wrap" style="border-right:none;border-left:none;">
                <img class="avatar" ng-src="{{imgUrl(o.PIC_SEQ)}}" />
                <span ng-bind-html="isSpecial(o.IsSpecial)" style="float: right; position: absolute; z-index: -1; right: 10px; opacity: 0.7;"></span>
                <p style="font-size: 0.8em;">
                    {{o.PROP_CAB_DESC}} <b>€{{o.OFDT_ITEM_PRICE || 0 | number: 2}}</b>
                </p>

                <p style="font-style:italic; font-size: 0.7em;">{{o.OFDT_NUM_OF_ITEMS || 0}}x{{o.CACA_NUM_OF_UNITS}} APE, Fust: {{o.CDCA_CASK_CODE}}, Voorraad: {{o.GRAS_NUM_OF_ITEMS}} </p>

                <p style="font-style:italic; font-size: 0.7em;">{{o.Properties}}</p>
                    <ion-option-button class="button-positive" ng-click="editArticle(o)">
                        <a class="button button-icon icon ion-edit" style="color:white;"></a>
                    </ion-option-button>                
            </ion-item>
        </ion-list>
        <div style="min-height:150px;"></div>
    </ion-content>
</ion-view>