<ion-view view-title="Offertelijst">
  <ion-content>
<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>  
    <ion-list>
          <ion-item class="item-remove-animate item-icon-right" ng-repeat="o in offertes" type="item-text-wrap"  href="#/tab/offerte/detail/{{o.OFHD_NO}}">
        <h2><b>{{o.OFHD_NO}} ({{o.OFHD_OFFER_TYPE}})</b></h2>
        <p>{{o.OFHD_VALID_FROM | date: 'MMM d, y HH:mm:ss'}} - {{o.OFHD_VALID_TO | date: 'MMM d, y HH:mm:ss'}}</p>
        <p></p>
        <span class="badge {{isValidColor(o.OFHD_VALID_TO)}}">{{isValid(o.OFHD_VALID_TO)}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive center" ng-click="deleteOfferte(o)">
          <a class="button button-icon icon ion-ios-trash-outline verwijder" style="color:white;"></a>
        </ion-option-button>           
    </ion-list>
    <div style="min-height:150px;"></div>
  </ion-content>
</ion-view>