<ion-view title="Offerte Maken">
    <ion-content class="no-padding">
        <!--         <ion-content class="padding"> -->
        <div id="articleOverlay" ng-init="model.article.showArticle = false" style="text-align: center;" ng-show="model.article.showArticle" ng-click="model.article.showArticle = false">
            <img ng-src="{{imgUrl(model.article.pictureseq)}}" style="max-width: 45%; max-height: 45%;">
            <p style="color:#FFF;">{{model.article.desc}}</p>
            <p style="font-style:italic;">{{model.article.cabcode}}</p>
            <!-- Hidden bindings, refull pr click and show -->
            <table style="width:100%;table-layout:fixed;">
                <tr>
                    <td style="text-align:right;">Hoofdgroep</td>
                    <td style="width:20px;"></td>
                    <td style="text-align:left;">{{model.article.Maingroup}}</td>
                </tr>
                <tr>
                    <td style="text-align:right;">Groeptype</td>
                    <td style="width:20px;"></td>
                    <td style="text-align:left;">{{model.article.Grouptype}}</td>
                </tr>
                <tr>
                    <td style="text-align:right;">Groep</td>
                    <td style="width:20px;"></td>
                    <td style="text-align:left;">{{model.article.Group}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="width:20px;"></td>
                    <td></td>
                </tr>
            </table>
            <br />
            <table style="width:100%; table-layout:fixed;">
                <tr>
                    <td style="text-align:right;">{{model.article.PROP_DESC1}}</td>
                    <td style="width:20px;"></td>
                    <td style="text-align:left;">{{model.article.PROP_VAL1}}</td>
                </tr>
                <tr>
                    <td style="text-align:right;">{{model.article.PROP_DESC2}}</td>
                    <td style="width:20px;"></td>
                    <td style="text-align:left;">{{model.article.PROP_VAL2}}</td>
                </tr>
                <tr>
                    <td style="text-align:right;">{{model.article.PROP_DESC3}}</td>
                    <td style="width:20px;"></td>
                    <td style="text-align:left;">{{model.article.PROP_VAL3}}</td>
                </tr>
                <tr>
                    <td style="text-align:right;">{{model.article.PROP_DESC4}}</td>
                    <td style="width:20px;"></td>
                    <td style="text-align:left;">{{model.article.PROP_VAL4}}</td>
                </tr>
                <tr>
                    <td style="text-align:right;">{{model.article.PROP_DESC5}}</td>
                    <td style="width:20px;"></td>
                    <td style="text-align:left;">{{model.article.PROP_VAL5}}</td>
                </tr>
                <tr style="margin-top:15px;">
                    <td style="text-align:right;">Fust code</td>
                    <td style="width:20px;"></td>
                    <td style="text-align:left;">{{model.article.Cask}}</td>
                </tr>
            </table>

        </div>
        <ion-content>

            <div class="row" style="background-color: #97C226; padding:5px; ">
                <div class="col text-center">
                    <h2 style="color: #FFF; margin-bottom:0;"><b>{{model.offerno}} ({{model.offertype}})</b></h2>
                </div>
            </div>

            <div class="row text-center noPadRow">
                <div class="col noPadRow">
                    <label class="item item-input selectionTable">
                        <ionic-datepicker idate="model.fromDate" style="margin-right:auto;margin-left:auto;padding-right:15px">
                            <button class="button button-small button-clear datumTijd"> {{ model.fromDate | date:'d-MM-y' }} </button>
                        </ionic-datepicker>
                        <i class="icon ion-ios-calendar-outline placeholder-icon" style="position:absolute;top:12%;left:64%;"></i>
                    </label>
                    <label class="item item-input selectionTable">
                        <ionic-timepicker etime="model.fromTime" format="24" step="10" style="margin-right:auto;margin-left:auto;padding-right:15px">
                            <button class="button button-small button-clear datumTijd">
                                van
                                <standard-time-no-meridian etime='model.fromTime'></standard-time-no-meridian>
                            </button>
                        </ionic-timepicker>
                        <i class="icon ion-ios-clock-outline placeholder-icon" style="position:absolute;top:12%;left:61%;"></i>
                    </label>
                </div>

                <div class="col noPadRow">
                    <label class="item item-input selectionTable">
                        <ionic-datepicker idate="model.toDate" style="margin-right:auto;margin-left:auto;padding-right:15px">
                            <button class="button button-small button-clear datumTijd"> {{ model.toDate | date:'d-MM-y' }} </button>
                        </ionic-datepicker>
                        <i class="icon ion-ios-calendar-outline placeholder-icon" style="position:absolute;top:12%;left:64%;"></i>
                    </label>
                    <label class="item item-input selectionTable">
                        <ionic-timepicker etime="model.toTime" format="24" step="10" style="margin-right:auto;margin-left:auto;padding-right:15px">
                            <button class="button button-small button-clear datumTijd">
                                tot
                                <standard-time-no-meridian etime='model.toTime'></standard-time-no-meridian>
                            </button>
                        </ionic-timepicker>
                        <i class="icon ion-ios-clock-outline placeholder-icon" style="position:absolute;top:12%;left:61%;"></i>
                    </label>
                </div>
            </div>
            <div class="row text-center noPadRow">
                <div class="col noPadRow">
                    <li class="item item-checkbox voorraadAanbieding" style="font-size:12px;">
                        <label class="checkbox checkbox-balanced">
                            <input type="checkbox" ng-model="model.offerteTypeStock" ng-click="setOffertype('S')">
                        </label>
                        Voorraad
                    </li>
                </div>
                <div class="col noPadRow">
                    <li class="item item-checkbox voorraadAanbieding" style="font-size:12px;">
                        <label class="checkbox checkbox-balanced">
                            <input type="checkbox" ng-model="model.offerteTypeOffer" ng-click="setOffertype('O')">
                        </label>
                        Aanbieding
                    </li>
                </div>
            </div>

            <h4 class="text-center OfferteAssorti">Offerte</h4>
            <ion-list ng-if="model.newoffer.items.length > 0">
                <ion-item class="item-remove-animate item-avatar offerteAssortiListItem" ng-repeat="a in model.newoffer.items" type="item-text-wrap"  style="border-right:none;border-left:none;">
                    <img class="avatar" ng-src="{{getImgUrl(a.pictureseq)}}" ng-click="testClick(a.pictureseq)" style="max-width:50px; max-height:50px;" />
                    <span ng-click="showArticleInfo(a)">
                    <span ng-bind-html="isSpecial(a.offer_special)" style="float: right; position: absolute; z-index: -1; right: 10px; opacity: 0.7;"></span>
                    <p style="font-size: 0.8em;">
                        {{a.desc}} <b>€{{a.offer_price || 0 | number: 2}}</b>
                    </p>

                    <p style="font-style:italic; font-size: 0.7em;">{{a.offer_units || 0}}x{{a.CNOU}} APE, Fust: {{a.Cask}}, Voorraad: {{a.numitems}} </p>

                    <p style="font-style:italic; font-size: 0.7em;">{{a.Properties}}</p>
                    </span>

                    <ion-option-button class="button-positive" ng-click="editArticle(a)">
                        <a class="button button-icon icon ion-edit" style="color:white;"></a>
                    </ion-option-button>

                    <ion-option-button class="button-assertive center" ng-click="deleteArticle(a)">
                        <a class="button button-icon icon ion-ios-trash-outline" style="color:white;"></a>
                    </ion-option-button>
                </ion-item>
            </ion-list>
            <p ng-if="model.newoffer.items.length == 0" class="text-center geenArtikelen">Nog geen artikelen toegevoegd</p>


            <h4 class="text-center OfferteAssorti">Assortiment</h4>

            <div class="bar bar-header item-input-inset" style="background-color:#eee;">
                <label class="item-input-wrapper" style="background-color:#fff;border-radius:20px;">
                    <input type="search" placeholder="Zoeken" ng-model="searchtext">
                    <i class="icon ion-ios-search placeholder-icon" style="margin-right:5px;"></i>
                </label>
            </div>

            <ion-list class="offerteAssortiList">
                <ion-item class="item-remove-animate item-avatar offerteAssortiListItem" collection-repeat="a in model.assortiment | filter:searchtext | filter: { offer_price: undefined || 0 } | orderBy: 'desc'" type="item-text-wrap" ng-click="showArticleInfo(a)" style="border-right:none;border-left:none;">
                    <img class="avatar" ng-src="{{imgUrl(a.pictureseq)}}" />
                    <div id="swipen">
                        <!--SWIPE LEFT IMAGE-->
                    </div>
                    <p style="font-size: 0.8em;">{{a.desc}} €{{a.offer_price || 0 | number: 2}}</p>

                    <p style="font-style:italic; font-size: 0.7em;"> {{a.offer_units || 0}}x{{a.CNOU}} APE [Fust: {{a.Cask}}], Voorraad: {{a.numitems}} </p>
                    <p style="font-style:italic; font-size: 0.7em;">{{a.Properties}}</p>

                    <ion-option-button class="button-positive" ng-click="editArticle(a)">
                        <a class="button button-icon icon ion-plus" style="color:white;"></a>
                    </ion-option-button>
                </ion-item>
            </ion-list>
            <div style="min-height:150px;"></div>
        </ion-content>

        <ion-footer-bar align-title="left" class="bar-stable selecteerKopersBar">
            <a class="button button-block button-positive selecteerKopers" href="#/tab/offerte/buyers/{{model.offerno}}">Selecteer kopers</a>
            <!--             <div class="buttons"> todo: reset-button somewhere
      <a class="button button-assertive" style="width:125px;" ng-if="model.newoffer.items.length != 0" ng-click="resetOfferte()">Reset</a>
    </div> -->
        </ion-footer-bar>
        <script>
            document.getElementById("swipen").style.display="none";
        </script>
</ion-view>