<ion-view title="Overzicht">
  <ion-content class="padding">
    <h3>OfferNr: {{data.nr}}</h3>
    <h4>From: {{ data.fromDate | date:'d-MM-y' }} <standard-time-no-meridian etime='data.fromTime'></standard-time-no-meridian></h4>
    <h4>To: {{ data.toDate | date:'d-MM-y' }} <standard-time-no-meridian etime='data.toTime'></standard-time-no-meridian></h4>
    <h4>Type: {{data.offertype}}</h4>
    <ion-list>
      <ion-item ng-repeat="o in data.items" type="item-text-wrap">
        <p>{{o.offer_units}}x{{o.CNOU}} €{{o.offer_price}} {{o.desc}} [{{o.Cask}}]</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-dark">
    <div class="buttons">
      <button class="button button-balanced" ng-click="ResetOfferte()">Reset</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
<!--       <button class="button button-balanced" ng-click="saveOffer(0)">Bewaar Offerte</button> -->
    </div>
  </ion-footer-bar>
</ion-view>
