<ion-modal-view style="background-color:rgba(0,0,0,0);">

    <ion-content class="padding" style="background-color:rgba(47,62,69,0.85);">
        <button class="button button-clear button-primary" ng-click="modal.hide()" style="position:absolute;right:0;top:-10px;">
            <i class="icon ion-close" style="color:#fff;"></i>
        </button>

        <div class="text-center">
            <h3 class="title" style="color:#fff!important;font-size:2em;margin-top:20px;">Kopers</h3>
        </div>

        <div class="list toonKopersLijst" >
            <p ng-repeat="b in model.buyerslist">{{b.BUYR_NAME}} <span style="float:right; margin-right:10px;">{{b.BUYR_ORDERED}}</span></p>
        </div>

        <button class="button button-full button-dark" ng-click="modal.hide()" style="background-color:#97C226 !important;width:85%;margin:10px auto 0;margin-bottom:45px;"><b>Sluiten</b>
        </button>

    </ion-content>
</ion-modal-view>