<input type="tel" ng-model="data.num_to_offer" placeholder="Aantal" style="border-bottom: 1px solid #97c226; padding: 4px;">
<input type="tel" ng-model="data.price" placeholder="Prijs (&#8364)" style="border-bottom: 1px solid #97c226;padding:4px;">
<input type="text" ng-model="data.remark" placeholder="Opmerking" style="padding:4px;">
<ul class="list" style="margin-top:5px; width:50%;">
  <li class="item item-checkbox">
     <label class="checkbox checkbox-positive">
       <input type="checkbox" ng-model="data.special">
     </label>
     Special
  </li>
</ul>