<!--       
	  OfferNr: $scope.model.newoffer.nr,
      FromDate: $scope.model.fromDate,
      FromTime: $scope.model.fromTime,
      ToDate: $scope.model.toDate,
      ToTime: $scope.model.toTime,
      OfferType: $scope.model.newoffer.offertype,
      Items: $scope.model.newoffer.items 
  -->
<table>
	<tr>
		<td>OfferNr</td>
		<td>{{data.OfferNr}}</td>
	</tr>
	<tr>
		<td>From</td>
		<td>{{data.FromDate}} {{data.FromTime}}</td>
	</tr>
	<tr>
		<td>To</td>
		<td>{{data.ToDate}} {{data.ToTime}}</td>
	</tr>
	<tr>
		<td>OfferType</td>
		<td>{{data.OfferType}}</td>
	</tr>			
	<tr>
		<td></td>
		<td></td>
	</tr>			
	<tr>
		<td></td>
		<td></td>
	</tr>					
</table>