<ion-modal-view>
    <ion-content class="no-padding">
        <div class="uitlegDriehoek">
            <p>uitleg</p>
        </div>

        <button class="button button-clear button-primary" ng-click="setTourSeen()" style="position:absolute; right:0; top:5px; z-index:1;">
            <i class="icon ion-close" style="color:#555;"></i>
        </button>
        
        <ion-scroll class="uitlegScroll" direction="xy" zooming="true" style="width:100%; height:75%;">
            <img ng-src="img/tour/tab.buyerorder2.jpg" style="max-width:100%;"/>
        </ion-scroll>
        
        <p class="uitlegTekst">Via het pijltje rechts naast de kweker naam kunt u de lijst met orders openen.
Hier ziet u de status confirmed/bevestigd en eventueel EKT/KWB sent/verzonden.
•   De afhandeling van de order kunt u, per kweker, instellen bij uw relaties in LogiCAB zelf.
•   Ook de kweker kan de afhandeling automatisch instellen bij zijn/haar relaties.
</p>
           
        <div class="uitlegKnoppen">
            <button class="button volgendeKnop" ng-click="getNextTour()">Volgende</button>
        </div>

    </ion-content>
</ion-modal-view>