<ion-modal-view>
    <ion-content class="no-padding">
        <div class="uitlegDriehoek">
            <p>uitleg</p>
        </div>

        <button class="button button-clear button-primary" ng-click="setTourSeen()" style="position:absolute; right:0; top:5px; z-index:1;">
            <i class="icon ion-close" style="color:#555;"></i>
        </button>
        
        <ion-scroll class="uitlegScroll" direction="xy" zooming="true" style="width:100%; height:75%;">
            <img ng-src="img/tour/tab.buyerorder3.jpg" style="max-width:100%;"/>
        </ion-scroll>
        
        <p class="uitlegTekst">Als u op een order klikt ziet u de bestelde regels. U ziet de totale waarde rechtsboven, de datum
en de bulkverpakking
</p>
           
        <div class="uitlegKnoppen">
            <button class="button volgendeKnop" ng-click="getNextTour()">Volgende</button>
        </div>

    </ion-content>
</ion-modal-view>