<ion-modal-view>
    <ion-content class="no-padding">
        <div class="uitlegDriehoek">
            <p>uitleg</p>
        </div>

        <button class="button button-clear button-primary" ng-click="setTourSeen()" style="position:absolute; right:0; top:5px; z-index:1;">
            <i class="icon ion-close" style="color:#555;"></i>
        </button>
        
        <ion-scroll class="uitlegScroll" direction="xy" zooming="true" style="width:100%; height:75%;">
            <img ng-src="img/tour/tab.offerte1.jpg" style="max-width:100%;" />
        </ion-scroll>

        <p class="uitlegTekst">U kunt ervoor kiezen om een nieuwe offerte te maken, maar u kunt ook de lijst met alle offertes bekijken, zodat u een bestaande offerte kunt kopiëren.</p>

        <div class="uitlegKnoppen">
            <button class="button volgendeKnop" ng-click="getNextTour()">Volgende</button>
        </div>

    </ion-content>
</ion-modal-view>