<ion-modal-view>
    <ion-content class="no-padding">
        <div class="uitlegDriehoek">
            <p>uitleg</p>
        </div>
        
        <button class="button button-clear button-primary" ng-click="setTourSeen()" style="position:absolute; right:0; top:5px; z-index:1;">
            <i class="icon ion-close" style="color:#555;"></i>
        </button>
        
        <ion-scroll class="uitlegScroll" direction="xy" zooming="true" style="width:100%; height:75%;">
            <img ng-src="img/tour/tab.order2.jpg" style="max-width:100%;"/>
        </ion-scroll>
        
        <p class="uitlegTekst">U kunt de 'drop-downs' open klikken zodat u alle orders van die koper te zien krijgt.</p>
           
        <div class="uitlegKnoppen">
            <button class="button vorigeKnop" ng-click="getPreviousTour()">Vorige</button>
            <button class="button volgendeKnop2" ng-click="getNextTour()">Volgende</button>
        </div>

    </ion-content>
</ion-modal-view>