<ion-view title="Order Bekijken">
    <ion-content ng-class="model.orderheader.Status != 10 ? '' : 'bottomOptions'">
        <div class="row" ng-class="model.orderheader.Status != 10 ? 'finishedOrder' : 'inprogressOrder'">
            <div class="col text-center">
                <h2 style="color: #FFF; margin-bottom:0;"><b>{{model.orderheader.Orga}}</b></h2>
            </div>
        </div>
        <div class="row" ng-class="model.orderheader.Status != 10 ? 'finishedOrder' : 'inprogressOrder'">
            <table style="table-layout:fixed; width:100%; text-align:center; margin-top:-3px; margin-bottom:10px; color:#455c66;">
                <tr>
                    <td>{{model.orderheader.Name}}</td>
                    <td style="width:120px;">{{model.orderheader.OrderDate | date: 'd-MM-y HH:mm' }}</td>
                    <td>€ <i>{{model.orderheader.Value | number: 2}}</i>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row" style="background-color: #dbeab3; padding:0; height:40px;">
            <table style="table-layout:fixed; width:100%; text-align:center; margin:10px 0; color:#455c66">
                <tr>
                    <td style="border-right: 1px solid #97c226;">
                        {{model.orderheader.OrderDate | date: 'd-MM-y HH:mm' }}
                        <i class="icon ion-calendar placeholder-icon"></i>
                    </td>
                    <td>
                        {{model.orderheader.CDCA_CASK_DESC}}
                        <i class="icon ion-cube placeholder-icon"></i>

                    </td>
                </tr>
            </table>

        </div>
        <ion-list style="padding-bottom:40px;">
            <ion-item class="item-remove-animate item-avatar" collection-repeat="o in model.orderdetails" type="item-text-wrap">
                <img ng-src="http://www.logioffer.nl//Specials/ShowImage/{{o.PIC_SEQ}}" />
                <p style="font-size: 0.8em;">
                    {{o.CAB_DESC}} € <b>{{getValue(o) || 0 | number: 2}}</b>
                </p>
                <p style="font-style:italic; font-size: 0.7em;">
                    <b>{{o.ORDE_NUM_OF_UNITS || 0}}</b>x{{o.CACA_NUM_OF_UNITS}} APE [Fust: {{o.CDCA_CASK_CODE}}], Voorraad: {{o.GRAS_NUM_OF_ITEMS}}
                </p>
                <p style="font-style:italic; font-size: 0.7em;">
                    {{o.Properties}}
                </p>
                <p>{{o.ORDE_CUSTOMER_CODE == '' ? '' : 'Code: ' + o.ORDE_CUSTOMER_CODE + ' / '}}  {{o.ORDE_STICKER_YN == 1 ? 'Sticker: Ja': ''}}</p>
                <p>€ <b>{{getLineValue(o) || 0 | number: 2}}</b>
                </p>
                <ion-option-button class="button-positive" ng-if="model.orderheader.Status == 10" ng-click="editArticle(o)">
                    <a class="button button-icon icon ion-edit" style="color:white;"></a>
                </ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>
    <!-- <div class="fixed-outside" ng-if="model.orderheader.Status == 10">
  <div class="row" style="margin-bottom:5px;rgb(229, 229, 229);">
        <div class="col-33">
            <button id="btnSendback" ng-disabled="{{buttons.sendback.disabled}}" ng-click="buttons.sendback.click(model.orderheader.Seq)" class="button button-balanced button-block" style="font-size:12px;">Stuur terug</button>
        </div>
        <div class="col-33">
            <button id="btnReject" ng-disabled="{{buttons.reject.disabled}}" ng-click="buttons.reject.click(model.orderheader.Seq)" class="button button-balanced button-block" style="font-size:12px;">Keur af</button>
        </div>
        <div class="col-33">
            <button id="btnAccept" ng-disabled="{{buttons.accept.disabled}}" ng-click="buttons.accept.click(model.orderheader.Seq)" class="button button-balanced button-block" style="font-size:12px;">Accepteer</button>
        </div>        
    </div>
</div> -->
</ion-view>