<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{maingroupText(mg)}}">
  <ion-content class="no-padding">
    <img ng-src="{{deliveryDateImage(mg)}}" class="center leverdatumImg" />
    
    <p style="width:100%; text-align:center;">Bestel- / Leverdatum</p>
    
    <ion-list class="datums">
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="date in deliverydates" type="item-text-wrap"  href="#/tab/offer/list/{{date.DEL_DATE}}">
        <!-- <img ng-src="{{offer.face}}"> -->
        <!-- <img src="img/flower.png" /> -->
        <p>{{formatDateDay(date.ORDER_DATE)}} / {{formatDateDay(date.DEL_DATE)}} </p>
        <!--<p>Delivery: {{formatDate(date.DEL_DATE)}}</p>-->
        <i class="icon ion-chevron-right icon-accessory" style="color:#eee;font-size:12px;"></i>
      </ion-item>
    </ion-list>
    <div style="min-height:150px;"></div>
  </ion-content>
</ion-view> 
