<ion-view view-title="Details" view-cache="false">
    <ion-content class="no-padding" style="text-align: center;">
        <div class="detailsInfo">
            <h4>{{model.PCD}}</h4>

            <span>
                <p style="color:#2f3e45; font-size:1.2em; font-weight:bold; font-style:italic;">
                    <span style="color:#97c226;">€{{model.Price | number: 2}}</span>
                   {{model.ONI}}x{{model.NOU}} APE, Fust: {{model.Cask}}
                </p>
            </span>
            <!--           <span ng-if="offer.MG == 1" class="itemProperties">{{offer.Properties}}</span>
      <span ng-if="offer.MG == 2" class="itemProperties">{{offer.Properties}}</span> -->
            <span>{{model.Properties}}</span>
        </div>
        
        <img ng-src="{{imgUrl(model.P)}}" style="width: 100%; height: auto;" />

        <!--   <h4>{{model.PCD}}</h4>
  <p>€{{model.Price | number: 2}}</p> -->
        <!--   <p>Kenmerken</p>
  <div ng-if="model.MG == 1">    
    {{model.Properties}}
          </div>  
          <div ng-if="model.MG == 2">
            {{model.Properties}}
  </div>
  <div ng-if="model.MG == 3">
    {{model.Properties}}
  </div>
  <div ng-if="model.MG == 4">
    {{model.Properties}}
  </div>
  <div ng-if="model.MG == 5">
    {{model.Properties}}
  </div>     -->

        <button ng-click="showOrderNum(model)" class="button aantalSelecteren">Bestellen</button>

        <p style="border-top:1px solid #eee; padding-top:40px; color:#2f3e45;">{{model.SN}}</p>
        
        <img ng-src="{{imgUrl(model.SPic)}}" style="max-width:60%; height:auto; margin-bottom:60px"/>
    </ion-content>
</ion-view>