<ion-view title="{{formatDateDay(selectedDate)}}"  view-cache="false">
    <ion-content class="padding" has-tabs="true">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    
    <div class="bar bar-header item-input-inset" style="background-color:#eee;">
        <label class="item-input-wrapper" style="background-color:#fff;border-radius:20px;">
            <input type="search" placeholder="Zoeken" ng-model="searchtext">
            <i class="icon ion-ios-search placeholder-icon" style="margin-right:5px;"></i>
        </label>
    </div>       
    <ion-list  style="margin-bottom: 200px; padding-bottom: 100px !important;">
      <ion-item class="item-remove-animate item-avatar item-icon-right aanbodListItem" collection-repeat="offer in offerdetails | filter: searchtext | orderBy:'PCD'" type="item-text-wrap" href="#/tab/offer/detail/{{offer.S}}" style="border-bottom:1px solid #eee;">      
        <img ng-src="{{imgUrl(offer.P)}}">
        <span>
          <h2>{{offer.PCD}}</h2>          
          <span>
              <p style="color:#2f3e45;font-weight:bold;"><span style="color:#97c226;">€{{offer.Price | number: 2}}</span> {{offer.ONI}}x{{offer.NOU}} APE, Fust: {{offer.Cask}}</p>
          </span>
          <span class="itemProperties">{{offer.Properties}}</span>
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button ng-click="showOrderNum(offer)" style="background-color:#97C226;color:#fff;">
          Voeg toe
        </ion-option-button>                
      </ion-item>
    </ion-list>
    <div style="min-height:150px;"></div>
  </ion-content>
</ion-view>
  