<input type="tel" ng-model="data.num_to_order" placeholder="Aantal" style="border-bottom: 1px solid #97c226; padding: 4px;">
<input type="text" ng-model="data.custcode" placeholder="Klantcode" style="padding:4px;">
<ul class="list" style="margin-top:5px; width:50%;">
  <li class="item item-checkbox">
     <label class="checkbox checkbox-positive">
       <input type="checkbox" ng-model="data.sticker">
     </label>
     Sticker
  </li>
</ul>