<ion-view view-title="<img src='img/logicab.png' style='height:100%;' />">
  <ion-content class="padding" id="nieuws">      
    <h4>{{news.Title}}</h4>   
    <div class="card">
      <div class="item item-text-wrap text-right">        
        <p>{{news.CreatedOn | date: 'MMM d, y HH:mm:ss'}}</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="{{news.Picture}}">
        <p>{{news.Content}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>