.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.dark {
    background-color: #2f3e45 !important;
    color: #ffffff;
}
.dark .scroll-content {
    background-color: #2f3e45 !important;
}
.dark .item {
    background-color: #2f3e45;
    border: none;
    border-top: 1px solid #263238;
    padding: 20px;
    color: #F0F1F1;
    max-height: none;
}
.dark .item:last-child {
    border-bottom: 1px solid #333333;
}
.dark .item.current {
    background-color: #262727 !important;
    border-top: 1px solid #464646 !important;
    border-bottom: 2px solid #333333 !important;
}
.dark .item.current p, .dark .item.current h3 {
    opacity: .7;
}
.dark h2,
.dark h3,
.dark p,
.dark a {
    color: #F0F1F1;
}

.dark-head {
    text-decoration: none;
}
.ion-rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.elementCenterAlign {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#OfferteChoice .item-avatar img {
    border-radius: 0;
}
#loginRow .item {
    background-color: rgba(255, 255, 255, 0);
    border-left: none;
    border-right: none;
    border-bottom: none;
    color: white;
    width: 99%;
    margin: auto;
}
#loginRow .item:nth-of-type(2) {
    border-bottom: 1px solid #fff;
}
#loginRow li {
    border-top: none;
    padding-right: 75px;
    padding-left: 0;
}
#loginRow li > label > input {
    left: -15px;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #555;
    border-color: #555;
}

#loginRow input[type="text"], input[type="password"] {
    color: white;
}
#loginRow *::-webkit-input-placeholder {
    color: white !important;
}
#loginRow *:-moz-placeholder {
    color: white !important;
}
#loginRow *:-ms-input-placeholder { /* IE10+ */
    color: white !important;
}

/*XXXXXXXXXXXXXXXX*/
/*NIEUW TOEGEVOEGD*/
/*XXXXXXXXXXXXXXXX*/

/*ALLES (BEHALVE TOPTITEL) HELVETICA*/
@font-face{
    font-family: Helvetica;
    src: url(Helvetica.otf);
}
*:not(.title) {
    font-family: Helvetica, Arial, Verdana, sans-serif !important;
}

.plants-list-content {
    padding: 0 !important;
}

.content.overflow-scroll {
    bottom: 0px !important;
    display: none !important;
}
.scroll {
    height: 100%;
}

/*LOGIN*/
#logoImg {
/*
    width: 50%;
    max-width: auto !important;
    max-height: 10% !important;
    margin: 8% auto 0%;
*/
    max-width: 45%;
    height: auto;
    margin-top: 20px;
}
#logoContainer {
    -webkit-animation: 0.3s ease-in-out !important;
    -moz-animation: 0.3s ease-in-out !important;
    -o-animation: 0.3s ease-in-out !important;
    transition: 0.3s ease-in-out !important;
}
.button-dark {
    color: #FFF !important;
    border: none;
    border-radius: 0;
    background-color: #555 !important;
}
ion-content {
    height: 100% !important;
}

/*BOVENSTE BALK*/
@font-face {
    font-family: AvantGarde;
    src: url(AvantGarde.otf);
}
.title {
    font-family: AvantGarde;
    padding-top: 2px;
    color: #97C226 !important;
    margin: 0 !important;
}
.bar.bar-dark {
    background-color: #2f3e45;
}
.bar.bar-dark img {
    padding: 5px;
}

/*SIDE MENU*/
.sideMenu {
    height: 92.5% !important;
}
.menuOnderaan {
    width: 100% !important;
    position: absolute !important;
    bottom: 50px;
}
/*settings*/
.settingsContent .gaTerug {
    width: 95%;
    bottom: 0;
}
.toggle.toggle-assertive input:checked + .track {
    border-color: #97C226 !important;
    background-color: #97C226 !important;
}
/*geschiedenis*/
#geschiedenisInput {
    height: 54px;
    padding: 6px 16px;    
}
#geschiedenisInput > span {
    width: 50%;
    padding: 7px 0;
}
#geschiedenisInput > input {
    padding: 7px 8px 7px 0;
    width: 50% !important;
    max-width: 50%;
    text-align: right;
    font-size: 16px;
    color: #97c226;
}
/*toon uitleg switch*/
.toggle-small input:checked + .track .handle {
    background: #97c226;
}
/*NAVIGATIE TABS*/
.tab-nav {
    background-color: #FFF;
    box-shadow: none !important;
    height: 60px;
    padding: 0 !important;
}
.tab-item {
    color: #4c4c4c;
    padding-top: 6px;
    border-top: 1px solid #EEE;
}
.tab-item-active {
    border-top: 1px solid #555;
}
.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.activated {
    margin-top: 0;
    border-top: 1px solid #555;
}

.list {
    padding-top: 0;
}

.ion-chevron-left, .ion-chevron-right, .ion-chevron-up, .ion-chevron-down {
    font-size: 12px !important;
    color: #EEE !important;
}
.item {
    border-color: #EEE;
}

.ng-binding {
    color: 2f3e45;
}

/*NIEUWS*/
#nieuws {
    padding: 0 0 100px 0;
}
#nieuws > div > h4 {
    margin: 0;
    padding: 20px 20px 0 20px;
/*    font-family: AvantGarde !important;*/
    font-size: 1.9em;
    color: #2f3e45;
}
#nieuws > div > .card {
    margin: 0;
    padding-top: 5px;
}
#nieuws > div > .card > div:first-of-type {
    padding: 0 20px 10px 20px;
}
#nieuws > div > .card > div:first-of-type > p {
    color: rgba(47, 62, 69, 0.5);
    font-size: 0.8em;
    font-style: italic;
}
#nieuws > div > .card > div:last-of-type {
    padding: 0;
    border-top: 0;
}
#nieuws > div > .card > div:last-of-type > p {
    padding: 20px 20px 0 20px;
    margin: -5px 0 160px 0;
    line-height: 160%;
}

/*VIERKANTE OFFER ITEMS*/
.offerlist {
    width: 50%;
    height: 170px;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #EEE;
    margin: 0;
    text-align: center;
}
.offerlist:nth-of-type(odd) {
    border-right: 1px solid #EEE;
}
.offerlist > a {
    padding: 0 !important;
    height: 100%;
}
.offerlist > a > img {
    height: 80px;
    margin-top: 22px;
    max-width: none !important;
}
.offerlist > a > h3 {
    font-weight: bold;
    font-size: 1.1em;
    color: #2f3e45;
}
.offerlist > a > p {
    color: #2f3e45;
    margin-top: -5px;
}
.leverdatumImg {
    width: auto;
    height: 100px;
    margin: 20px auto 10px;
    display: table-cell;
}
.leverdatumImg + p {
    margin-bottom: 20px;
    font-weight: bold;
    color: #2f3e45;
}
.ava {
    position: absolute;
    top: 16px;
    left: 12px;
    width: 100%;
    height: 100%;
    max-width: 55px;
    max-height: 55px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #eee;
}
/*
.aanbodListItem {
    width: 100%;
    height: 100% !important;
    margin: 0;
}
.aanbodListItem > div {
    padding-right: 25px !important;
    padding-left: 85px !important;
}
.aanbodListItem > .item-options {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.aanbodListItem > div > span > h2 {
    font-size: 0.8em;
}
.aanbodListItem > div > span > span {
    font-style: italic;
    font-weight: bold;
}
.aanbodListItem > div > span > ul {
    font-size: 12px;
    color: #555;
    float: left;
}
.aanbodListItem > div > span > ul > li {
    display: inline !important;
    list-style-type: none !important;
}
.aanbodListItem > div > i {
    width: 10px;
    right: 12px !important;
}
*/
.aanbodListItem {
    border: none;
    border-top: 1px solid #eee;
}
.aanbodListItem > a {
    height: 100%;
    padding: 18px 25px 14px 80px !important;
}
.aanbodListItem > a > img {
    margin-top: 5px !important;
}
.aanbodListItem > a >  i {
    width: 15px !important;
    right: 7px !important;
}
.itemProperties {
    color: #2f3e45 !important;
    font-style: italic;
    font-weight: lighter;
    font-size: 0.7em;
}
.detailsInfo {
/*    background-color: red;*/
    margin: 10px 0;
}
.detailsInfo > h4 {
    font-weight: bold;
    color: #2f3e45;
}
.detailsInfo > h4, .detailsInfo > span > p {
    margin: 5px;
}
.aantalSelecteren {
    height: 40px;
    border: none;
    border-radius: 0 !important;
    background-color: #97C226 !important;
    padding-top: 1px !important;
    width: 95%;
    margin: auto;
    font-size: 1.1em !important;
    margin-bottom: 2.5%;
    margin-top: 1%;
    color: #fff;
}

/*OFFERTE ITEMS*/
.offerteList {
    display: table;
    width: 100%;
    text-align: center;
}
.offerteItem {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    height: 170px;
    border: none;
    border-bottom: 1px solid #EEE;
}
.offerteItem:nth-of-type(odd){
    border-right: 1px solid #EEE;
}
.offerteItem > img {
    height: 80px;
    padding-left: 20px;
}
.offerteItem > h2 {
    margin-top: 7px;
    font-size: 1em;
    font-weight: bold;
    color: #2f3e45;
    letter-spacing: 0.02em;
}
.verwijder {
    padding: 0;
}
.paddingLeft80 {
    padding-left: 80px;
}
/*OFFERTE MAKEN*/
.selectionTable {
    border-color: #96C125 !important;
    font-size:1.6em;
    color: #2f3e45;

}
.voorraadAanbieding {
    border-color: #96C125 !important;
    font-size:1.6em;
    color: #2f3e45;
    padding: 10px;
}
.noPadRow {
    padding-right: 0;
    padding-left: 0;
    padding: 0;
}
.noPadRow > label {
    padding: 0;
}
.row + .row {
    margin: 0;
}
#articleOverlay p {
    margin-bottom:0;
}
#articleOverlay {
    color: #FFF;
    text-align: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    /* height: inherit; */
    top: 0;
    bottom: 0;
    background-color: rgba(47, 62, 69, 0.85);    
    padding: 10px;
    font-size: 12px;
}
.datumTijd {
    color: #2f3e45 !important;
    display: table-cell;
    margin: auto;
    height: 50px;
    }
    /*IONIC DATEPICKER*/
    .today {
        background-color: rgba(69,92,102,0.5);
    }
    .date_col:hover {
        background-color: #455c66;
        cursor: pointer;
    }
    .date_col:active,.date_selected {
        background-color: #455c66;
    }
    .date_col:active {
        cursor:pointer;
    }
    .no_padding {
        padding: 0;
    }
    .date_cell {
        padding: 5px;
    }
    .error_msg {
        color: #c00 !important;
        font-size: 12px;
    }
/*    IONIC TIMEPICKER*/
    .popup-body > div > .row > span:first-of-type {
        margin-left: 21.5%;
    }
    .timePickerColon {
        padding-top: 49px;
        color: #455c66;
        font-weight: bold;
        text-align: center;
        max-width: 7%;
    }
    .timePickerArrows {
        width: 100%;
        height: 40px;
        padding: 0px;
        background-color: #445c66 !important;
    }
    .timePickerBoxText {
        text-align: center;
    }
    .bar.bar-stable, .tabs {
        box-shadow: 0 0 5px #555;
    }
    .overflowShow {
        white-space: normal !important;
    }
.geenArtikelen {
    color: #ccc;
    margin-top: 15px;
    margin-bottom: 60px;
    font-style: italic;
}
.OfferteAssorti {
    color: #fff;
    background-color: #2f3e45;
    margin: 0;
    height: 50px;
    padding-top: 15px;
}
.offerteAssortiListItem:first-of-type {
    border-top: none;
}
.offerteAssortiListItem:last-of-type {
    border-bottom: none;
}
.offerteAssortiListItem > div:first-of-type {
    height: 100%;
    padding-right: 16px !important;
    padding-left: 80px;
}
.selecteerKopersBar {
    height: 60px;
    bottom: 101px;
    box-shadow: none !important;
}
.selecteerKopers {
    height: 40px;
    border: none;
    border-radius: 0 !important;
    background-color: #97C226 !important;
    padding-top: 4px !important;
    position: absolute;
    width: 95%;
    bottom: 0%;
    margin: auto;
    left: 2.5%;
    bottom: 1.5%;
    font-size: 1.1em !important;
}
.has-footer {
    bottom: 0;
}
.offerteAssortiList > div > div > ion-item:first-of-type > div > #swipen {
    background-image: url(/img/swipe-left.png);
    background-size: contain;
    background-position: center center;
    position: absolute;
    top: 13px;
    right: 12px;
    max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: 100%;
}
    @-webkit-keyframes swipeLeft {
        0% {opacity: 0;transform: scale(1.5);}
        15% {opacity: 1;transform: scale(1);}
        75% {opacity: 1;right: 200px;}
        100% {opacity: 0;right: 200px;}
    }
    @-moz-keyframes swipeLeft {
        0% {opacity: 0;transform: scale(1.5);}
        15% {opacity: 1;transform: scale(1);}
        75% {opacity: 1;right: 200px;}
        100% {opacity: 0;right: 200px;}
    }
    @-o-keyframes swipeLeft {
        0% {opacity: 0;transform: scale(1.5);}
        15% {opacity: 1;transform: scale(1);}
        75% {opacity: 1;right: 200px;}
        100% {opacity: 0;right: 200px;}
    }
    @keyframes swipeLeft {
        0% {opacity: 0;transform: scale(1.5);}
        15% {opacity: 1;transform: scale(1);}
        75% {opacity: 1;right: 200px;}
        100% {opacity: 0;right: 200px;}
    }
    .offerteAssortiList > div > div > ion-item:first-of-type > div > #swipen {
        -webkit-animation: swipeLeft 2s infinite ease-in-out;
        -moz-animation: swipeLeft 2s infinite ease-in-out;
        -o-animation: swipeLeft 2s infinite ease-in-out;
        animation: swipeLeft 2s infinite ease-in-out;
    }
.bewaarMailBar {
    background-color: #eee;
    bottom: 60px !important;
    height: 60px;
    padding: 10px;
}
.bewaarMailBar > div:first-of-type {
    height: 40px;
    width: 50%;
    padding-right: 2%; 
}
.bewaarMailBar > div:last-of-type {
    height: 40px;
    width: 50%;
    padding-left: 2%; 
}
.bewaarMailBar > div:last-of-type > button {
    min-height: 100% !important;
}
.bewaarMailBar > div > button {
    color: #fff;
    font-size: 1.1em !important;
    width: 100%;
    border: 0;
    border-radius: 0 !important;
    background-color: #97c226;
}
/*OFFERTE KOPIEREN*/
.kopieerKnop {
    background-color: #eee;
}
.kopieerKnop > a {
    margin: 0 !important;
    padding-top: 3px;
    border: 0;
    border-radius: 0;
}
.toonKopersKnop {
/*    background-color: #fff;*/
    border-bottom: 1px solid #eee;
    padding-top: 0 !important;
}
.toonKopersKnop > a {
    color: #2f3e45;
    margin: 0 !important;
    padding-top: 3px;
    border: 0;
    border-radius: 0;
}
.toonKopersLijst {
    width: 85%;
    margin: 20px auto 0;
}
.toonKopersLijst > label {
    border-color: #EEE;
    border-right: none;
    border-bottom: none;
    border-left: none;
}
.toonKopersLijst > label:first-of-type {
    border-top: none;
}
.toonKopersLijst > p {
    border: 1px solid #eee;
    border-right: none;
    border-bottom: none;
    border-left: none;
    color: #2f3e45;
    background-color: #fff;
    width: 100%;
    height: 40px;
    display: table;
    vertical-align: middle;
    margin-bottom: 0;
    padding-top: 10px;
    padding-left: 15px;
}
.toonKopersLijst > p:first-of-type {
    border-top: none;
}

/*ORDERS*/
.orderKopers {
    padding-top: 30px;
    min-height: 77px;
    background-color: #555;
    color: #fff;
    border: 0;
    border-top: 1px solid #fff;
}
.orderKopers.item.active {
    background-color: #555;
    color: #fff;
}
.orderKopers.item.activated {
    background-color: #777;
}
.orderKopers > div {
    top: 11px;
}
.orderKopers > #statusBadges {
    position: absolute;
    width: 99%;
    height: 99%;
    top: 0;
    right: -18px;
/*    border: 1px solid red !important;*/
}
.orderKopers > #statusBadges > span {
    font-weight: normal;
    font-size: 14px;
    position: relative;
    float: right;
    top: 5px;
    margin-top: -5px;
    margin-right: 2px;
    padding: 2px 10px !important;
    border-radius: 0 0 6px 6px !important;
}
.orderAccordion {
    padding: 0 !important;
    height: 77px;
}
.orderAccordion > a {
    padding-top: 19px !important;
    height: 77px;
}
.orderAccordion > a > h2 {
    margin-bottom: 0;
}
.orderAccordion > a > span {
    margin-top: 5px;
    margin-right: 10px;
}
.orderAccordion > a > p {
    height: 27px;
    margin-top: -10px;
    margin-bottom: 0;    
}
/*ORDER BEKIJKEN*/
.finishedOrder {
    background-color: #96C125;
    padding: 5px 0 0;
}
.inprogressOrder {
    background-color: rgb(0, 159, 227);
    padding: 5px 0 0;
}
.fixed-outside {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
}
.has-bottom .scroll {
    padding-bottom: 120px !important;
}
.button-circle {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
}
.col-33 {
    padding: 5px;
}
.bottomOptions {
    margin-bottom: 65px;
    /* border-bottom: 1px solid red;*/
}
.orderListItem > div:first-of-type {
    height: 100%;
    padding: 18px 25px 14px 80px !important;
}
.orderFooter {
    height: 60px;
    margin: 0 !important;
    padding: 0 5px !important;
    background-color: #eee;
}
.orderFooter > div > button {
    min-height: 40px !important;
    margin: 0 !important;
    padding: 0;
    border: none;
    border-radius: 0;
    font-size: 1.1em !important;
}
.orderFooter2 {
    height: 60px;
    margin: 0 !important;
    padding: 5px !important;
    background-color: #eee;
}
.orderFooter2 > div {
    min-width: 50%;
}
.orderFooter2 > div > button {
    min-height: 40px !important;
    margin: 0 !important;
    padding: 0;
    border: none;
    border-radius: 0;
    font-size: 1.1em !important;
}

/*WINKELWAGEN*/
.winkelwagenContent > .scroll {
    height: 97.5% !important;
}
.gaTerug {
    border: none;
    border-radius: 0 !important;
    padding-top: 3px;
    position: absolute;
    width: 95%;
    bottom: 102px !important;
    left: 2.5%;
}
/*
.badge.badge-assertive {
    background-color: #97C226 !important;
}
*/
.footerTabs > div > a > .badge-assertive {
    background-color: #97c226 !important;
}
.card {
    box-shadow: none;
    border-radius: 0;
}
.item-divider {
    background-color: #97C226;
    color: #fff;
    box-shadow: none;
    border-radius: 0;
}
.card > button {
    background-color: #97C226;
    border-radius: 0;
}
.avatar {
    position: absolute;
    top: 20px !important;
    left: 12px;
    width: 100%;
    height: 100%;
    max-width: 55px;
    max-height: 55px;
    border-radius: 50%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
}
.ordersAvatar {
    position: absolute;
    top: 11px !important;
    left: 12px;
    width: 100%;
    height: 100%;
    max-width: 55px;
    max-height: 55px;
    border-radius: 50%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
}
.badgeStatus {
    font-weight: normal; font-size:10px; top: 5px; right:5px; border-radius:50px; padding-top:0;
    padding-bottom:0;
}
.button.button-positive {
    background-color: #97C226 !important;
}
.toggle input:checked + .track {
    border-color: #97C226 !important;
    background-color: #97C226 !important;
}

/*POPUP ARTIKEL TOEVOEGEN AAN OFFERTE*/
.popup {
    padding: 5px 10px 10px 10px;
}
.popup-head {
    border-bottom: 0;
    padding-bottom: 0;
}
.popup-body > input {
    height: 54px;
    padding-left: 15px !important;
    border-color: #97C226 !important;
}
.popup-body > ul {
    width: 100% !important;
    border: none !important;
    padding: 1px;
    margin-top: 1px !important;
}
.popup-body > ul > li > label > input::before {
    border-color: #ddd;
}
.popup-body > div {
    color: #fff;
}
.popup-body > .row > div {
    color: #fff;
    background-color: #455c66;
    font-weight: bold;
    height: 40px;
    padding-top: 9px;
}
.popup-body > .row > div:nth-of-type(2) {
    padding-top: 11px;
}
.popup-body > div > .row {
    text-align: center;
    color: #455c66 !important;
}
.popup-buttons {
    margin-top: 0;
}
.popup-buttons > button:first-of-type {
    margin: 0;
    border: none;
    border-right: 1px solid #97C226;
    border-radius: 0 !important;
    background-color: #eee !important;
    color: #555 !important;
    font-weight: bold;
    height: 54px;
}
.popup-buttons > button:nth-of-type(2) {
    margin: 0;
    border: none;
    border-right: 1px solid #97C226;
    border-radius: 0 !important;
    background-color: #fff !important;
    color: #555 !important;
    font-weight: bold;
}
.popup-buttons > button:nth-of-type(3) {
    border: none;
    border-radius: 0 !important;
    background-color: #fff !important;
    color: #555 !important;
    font-weight: bold;
}

/*UITLEGSCHERMEN*/
.uitlegScroll > .scroll {
    height: 100% !important;
}
.uitlegScroll > .scroll-bar {
    display: none;
}
.uitlegTekst {
    text-align: center;
    color: #2f3e45;
    width: 100%;
    margin: auto;
    padding: 15px 12.5%;
    position: absolute;
    bottom: 55px;
    border-top: 1px solid #eee;
    background-color: #fff;
}
.uitlegKnoppen {
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    text-align: center;    
    position: absolute !important;
    bottom: 0px;
    background-color: #fff;
}
.volgendeKnop {
    width: 75%;
    min-height: 0 !important;
    height: 100%;
    color: #fff;
    border: none;
    border-radius: 7px;
    background-color: #455c66;
}
.volgendeKnop:hover {
    color: #fff;
}
.vorigeKnop {
    width: 37.5%;
    min-height: 0 !important;
    height: 100%;
    color: #fff;
    border: none;
    border-radius: 7px 0 0 7px;
    background-color: #2f3e45;
    right: -2px;
    border-right: 1px solid #fff;
}
.volgendeKnop2 {
    width: 37.5%;
    min-height: 0 !important;
    height: 100%;
    color: #fff;
    border: none;
    border-radius: 0 7px 7px 0;
    background-color: #455c66;
    left: -2px;
}
.volgendeKnop.activated, .vorigeKnop.activated, .volgendeKnop2.activated {
    color: #fff;
    opacity: 0.8;
    background-color: #455c66;
}
.uitlegDriehoek {
    background-color: #97c226;
    position: absolute;
    z-index: 1;
    padding: 20px 25px 2px 25px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -5px;
    left: -30px;
}
.uitlegDriehoek > p {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    margin: 0;
}

/*WIT LIJNTJE AAN ONDERKANT POPUP WEG*/
ion-modal-view > .ionic-scroll {
    margin-top: 0;
}